.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.container {}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list__pair {
  display: flex;
  flex-basis: 100%;
  /* justify-content: space-around; */
}

.list__member {
  flex-basis: 50%;
}

